* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
}

body {

  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}

body,
input,
testarea,
button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

/* Page: Timeline*/

.main-navigation a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

.main-navigation a.active {
  color: var(--twitter-blue);
}

.main-navigation a svg {
  width: 2rem;
  height: 2rem;
}